@function n-space($key) {
  @if map-has-key($spaces, $key) {
    @return map-get($spaces, $key);
  }

  @warn "Unknown `#{$key}` in $spaces.";
  @return null;
}

@function n-color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function n-border-width($key) {
  @if map-has-key($borderWidths, $key) {
    @return map-get($borderWidths, $key);
  }

  @warn "Unknown `#{$key}` in $borderWidths.";
  @return null;
}

@function n-border-radius($key) {
  @if map-has-key($borderRadius, $key) {
    @return map-get($borderRadius, $key);
  }

  @warn "Unknown `#{$key}` in $borderRadius.";
  @return null;
}

@function n-shadow($key) {
  @if map-has-key($shadows, $key) {
    @return map-get($shadows, $key);
  }

  @warn "Unknown `#{$key}` in $shadows.";
  @return null;
}

@function n-font-weight($key) {
  @if map-has-key($fontWeights, $key) {
    @return map-get($fontWeights, $key);
  }

  @warn "Unknown `#{$key}` in $fontWeights.";
  @return null;
}

@function n-text-size($key) {
  @if map-has-key($textSizes, $key) {
    @return map-get($textSizes, $key);
  }

  @warn "Unknown `#{$key}` in $textSizes.";
  @return null;
}
