.box-n
  .box-n-body.p-4
    h1.box-n-title = t('.blocked_domains')

    table.table-n.mb-3
      thead
        th = t('.domain')
        th = t('.severity')
        th = t('.blocked_at')
        th(width="1%")

      tbody
        - @domain_blocks.each do |domain_block|
          tr
            td = domain_block.domain
            td = domain_block.severity
            td = domain_block.created_at
            td.text-right
              a.btn-n.btn-n-outline-danger.btn-n-sm(
                href=admin_domain_block_path(domain_block)
                data-method="delete"
                data-confirm="Are you sure?"
              ) = t('.delete')

    a.btn-n.btn-n-primary(href=new_admin_domain_block_path) = t('.add_new')
