.btn-n {
  @include n-padding-x(3);

  border-radius: n-border-radius(sm);
  border: 1px solid transparent;
  display: inline-block;
  height: 1.8rem;
  line-height: 1.7rem;
  outline: 0;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: n-text-size(xxs);
  text-transform: uppercase;
  font-weight: n-font-weight(semibold);
  text-decoration: none;

  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
    color: n-color(white);
  }
}

.btn-n-lg {
  font-size: n-text-size(xs);
  height: 2rem;
  line-height: 2rem;
}

.btn-n-sm {
  @include n-padding-x(2);

  height: 1.4rem;
  line-height: 1.4rem;
}

.btn-n-block {
  display: block;
}

@include n-define-btn-color(primary, indigo, white);
@include n-define-btn-color(secondary, grey, white);
@include n-define-btn-color(danger, red, white);
@include n-define-btn-color(success, green, white);
