.label-n {
  font-size: 40%;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: n-border-radius(sm);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: .5% .8%;
  font-weight: n-font-weight(semibold);
  display: inline-block;
}

.label-n-success {
  border-color: n-color(green);
  color: n-color(green-dark);
}

.label-n-danger {
  border-color: n-color(red);
  color: n-color(red-dark);
}

.label-n-secondary {
  border-color: n-color(grey);
  color: n-color(grey-dark);
}
