meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="apple-touch-icon" sizes="180x180" href="/ios.png")
meta(name="current-account-id" content=current_account&.id)
link(id="favicon" rel="icon" href="/favicon.png" type="image/png" sizes="32x32" data-controller="favicon")
link(rel="manifest" href=manifest_path(format: :json))
