- tags = TagsQuery.new.popular.first(10).map(&:decorate)

.box-n.mb-3.popular-tags
  .box-n-body.p-2
    ul.list-inline
      - tags.each do |tag|
        li.list-inline-item
          a(href=tag.path) ##{tag.name}
