.btn-gray {
  border-color: $gray-color;
  color: $gray-color;

  &:visited {
    color: $gray-color;
  }

  &:hover {
    border-color: $gray-color-dark;
    color: $gray-color-dark;
  }
}

.btn-wider {
  padding-left: .8rem;
  padding-right: .8rem;

  &.btn-sm {
    padding-left: .6rem;
    padding-right: .6rem;
  }
}
