.list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin: 0;

  &-item {
    display: inline-block;
    margin-top: 0;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}
