.notifications-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: 0;
  }

  p {
    margin: 0;
  }

  .tile-content {
    margin-left: .5rem;
  }

  &-when {
    font-size: 0.7rem;
  }
}
