.popular-tags {
  font-size: 0.7rem;

  ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  li {
    flex-wrap: nowrap;
    margin: 0 !important;

    a {
      padding: 0.3rem 0.6rem !important;
      display: inline-block;
      color: $gray-color-dark;
      white-space: nowrap;
    }
  }
}
