.statistics {
  @extend .list-inline;
  display: flex;
}

.statistics-item {
  @extend .list-inline-item;
  flex: 1;

  &-major {
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    line-height: 1rem;
  }

  &-minor {
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
  }
}
