.story-row {
  border-bottom: 1px solid $border-color;
  padding: 1rem;
  padding-left: .5rem;
  margin: 0;

  &-score {
    text-align: center;
    padding-right: 0 !important;
    padding-top: .7rem;
  }

  &-score-btn {
    position: relative;
    cursor: pointer;
    padding: .6rem;
    color: $dark-color;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 49%;
      transform: translatex(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
    }
  }

  &-score-btn:hover {
    text-decoration: none;
    color: $dark-color;

    &:before {
      animation: story-like-arrow-hover .3s infinite;
    }
  }

  &-score-likes-count {
    font-weight: 700;
  }

  &-thumb {
    padding-right: .5rem !important;
    width: 100%;
    height: 110px;
    display: inline-block;
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;
    background-color: $gray-color-light;
    background-position: 50% 50%;
    font-family: Feather;
  }

  &-thumb-empty {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-size: cover;
      opacity: 0.3;
      content: "\E97A";
      font-size: n-text-size(lg);
      color: n-color(grey-dark);
    }

    &--article {
      &:before {
        content: "\E960";
      }
    }
  }

  &-title {
    font-size: .85rem;
    font-weight: 700;
    margin-bottom: 0.2rem;

    a {
      color: inherit;
    }

    a:visited {
      color: $gray-color;
    }
  }

  &-meta {
    font-size: .70rem;
    margin-top: 0;
    margin-bottom: .5rem;
    color: $gray-color;

    a {
      color: inherit;
    }

    &:last-child {
      margin: 0;
    }

    .btn {
      padding: 0;
      margin: 0;
      border: 0;
      margin-top: -2px;
      color: #bbb;
    }
  }

  &-excerpt {
    margin-bottom: .5rem;
    font-size: 0.7rem;
  }

  &-description {
    padding: 2rem;

    & *:last-child {
      margin: 0;
    }
  }

  &-tags-more {
    .popover-container {
      width: 150px;

      .panel {
        background: #fff;
        border-radius: 3px;
      }

      .panel-body {
        padding: .5rem;
      }
    }
  }

  &--liked {
    .story-row-score-likes-count {
      color: #c75000;
    }

    .story-row-score-btn:before {
      border-bottom: 5px solid #c75000;
    }

    .story-row-score-btn:hover:before {
      animation: none;
    }
  }

  &--removed {
    opacity: 0.5;
  }
}

.story-row--phone {
  padding: 0.5rem;

  .story-row-excerpt {
    padding: 0.5rem;
    margin: 0;
  }

  .story-row-thumb {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 0.5rem;

    &-empty::before {
      font-size: n-text-size(sm);
    }
  }

  .story-row-excerpt {
    padding: 0;
  }

  .story-row-score-btn {
    padding: 0;
    color: #454d5d;

    &::before {
      position: static;
      transform: none;
      display: inline-block;
      margin-right: .3rem;
      margin-bottom: .1rem;
    }
  }

  .story-row-meta {
    &-primary {
      display: flex;
      overflow-x: hidden;

      .list-inline-item {
        height: 20px
      }
    }

    &-secondary {
      margin-top: 0.4rem;
      clear: both;
    }
  }
}
