.story_tag_list {
  tags {
    height: 2rem;
  }

  .tagify__input {
    padding: 0.1em 0.5em 0.3em;

    &::before {
      content: "\feff ";
    }
  }

  .tagify tag > div {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}
