.box-n.bg-grey-lightest.mb-4
  - if flaggable.is_a?(Story)
    .stories-list
      ul.list-unstyled.mb-0
        = render flaggable
  - else
    ul.comment-children.pl-3.pt-2
      = render 'comments/comment', comment: flaggable
