- presenter_opts = { liked_ids: @account_liked_story_ids, current_user: current_user }
- presenter = StoryPresenter.new(story, presenter_opts)
- account = presenter.account

li.story-row.h-entry(data-controller="story" data-liked=presenter.liked?.to_s class=presenter.root_classes)
  .columns
    .column.col-1.story-row-score
      a.story-row-score-btn(
        data-action="click->story#toggleLike"
        data-target="story.likeBtn"
        data-action-path=toggle_like_api_ujs_story_path(story)
      )
        span.story-row-score-likes-count
          = story.likes_count

    .column.col-2
      a.story-row-thumb(class=presenter.thumb_classes
                        style=presenter.thumb_styles
                        href=story_path(story))

    .column
      h3.story-row-title
        - if story.url.present?
          = link_to presenter.story.title, presenter.story.url, target: '_blank', class: 'p-name u-repost-of'
        - else
          = link_to presenter.story.title, story_path(story), class: 'p-name u-repost-of'

      ul.story-row-meta.list-inline
        = render 'stories/_story/meta_primary', presenter: presenter,
                                                story: story,
                                                account: account

      - if presenter.excerpt.present?
        p.story-row-excerpt.p-summary
          = presenter.excerpt

      ul.story-row-meta.list-inline
        = render 'stories/_story/meta_secondary', presenter: presenter,
                                                  story: story
