= render 'accounts/head'

.box-n
  .box-n-nav
    ul.tab
      li.tab-item
        = active_link_to t('.hot'), account_path, active: :exclusive
      li.tab-item
        = active_link_to t('.recent'), recent_stories_account_path

  = render 'stories/list', stories: @stories

= paginate @stories, theme: :mini_box
