= render 'tags/head'

.box-n
  .box-n-nav
    ul.tab
      li.tab-item
        = active_link_to t('.hot'), tag_stories_path, active: :exclusive
      li.tab-item
        = active_link_to t('.recent'), recent_tag_stories_path

  = render 'stories/list', stories: @stories

= paginate @stories, theme: :mini_box
