.box-n
  .box-n-nav
    ul.tab
      li.tab-item
        = active_link_to t('.hot'), :dashboard_followed_accounts, active: :exclusive
      li.tab-item
        = active_link_to t('.recent'), :recent_dashboard_followed_accounts

  = render 'stories/list', stories: @stories

  - if current_account.following.count.zero?
    .empty.empty-transparent
      .empty-icon
        | &times;
      p.empty-title.h5 = t('.nothing_to_show')
      p = t('.you_re_not_following')

  - elsif @stories.empty?
    .empty.empty-transparent
      .empty-icon
        | &times;
      p.empty-title.h5 = t('.nothing_to_show')
      p = t('.accounts_you_follow_have')

= paginate @stories, theme: :mini_box
