- jumpbox = Jumpbox.instance
- current_link = current_jumpbox_link

.dropdown.jumpbox(
  title=current_link
  data-controller="jumpbox dropdown"
  data-dropdown-placement="bottom-start"
)
  a.btn.btn-link(
    data-target="dropdown.toggle"
    data-action="click->dropdown#toggle click@window->dropdown#hide"
    href="#"
    title=current_link
  )
    .tile.tile-centered
      .tile-icon
        - if current_link.media_type == :icon
          i(class=current_link.media_class)
        - elsif current_link.media_type == :avatar
          img.avatar.avatar-xs(src=current_link.media)

      .tile-content
        = current_link

  ul.menu-n(data-target="dropdown.dropdown" style="min-width: 210px")
    li.menu-n__divider(data-content="Prismo feeds")

    - jumpbox.prismo_feeds.each do |link|
      - next if link.opts[:auth_required] && !user_signed_in?

      li.menu-n__item
        = active_link_to link.path, link.link_opts do
          .tile
            .tile-icon
              i(class=link.media_class)
            .tile-content
              = link.label
