.new-story-page {
  @extend .columns;

  &-content {
    @extend .column;
    @extend .col-9;
    @extend .col-sm-12;
  }

  &-sidebar {
    @extend .column;
    @extend .col-3;
    @extend .col-sm-12;

    font-size: .8em;

    p {
      margin-bottom: .5em;
    }

    ul {
      margin-left: 0;
      margin-bottom: 0;

      li {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: $size-md) {
  .new-story-page {
    &-content {
      padding: 0;
    }

    &-sidebar {
      font-size: 1em;
    }
  }
}
