.story-page {
  &-body {
    padding: 2rem;

    *:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }
  }

  .stories-list {
    margin-bottom: 1rem;
  }

  &-comments {
    .box-body {
      padding: 1.5rem;
    }
  }
}

@media only screen and (max-width: $size-md) {
  .story-page {
    &-body {
      padding: .5rem;
      font-size: 0.7rem;
    }

    &-comments .box-body {
      padding: .5rem;
    }
  }
}
